body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
}
h1 {
    text-align: center;
    color: #333;
}
h2{
    text-align: center;
    color: #333;
}
ol {
    margin: 0 auto;
    padding: 0;
    max-width: 600px;
    list-style-type: decimal;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}
li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
